name: Gateway CI
on:
  push:
    paths:
      - 'api-gateway/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: docker build -t api-gateway ./api-gateway
